    /* poppins font */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    /*useful color here*/
    :root{
        --gray-color: #202020;
        --button-color: #50D890;
        --input-background: #3F3F3F;
    }
    
      *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
      }
    

    section#gymForm_section{
        padding-top:  80px;
        background-color:black ;
        color: white;
    }
    section#gymForm_section .gymForm_title{
        padding: 0px 15px;
        background-color: var(--gray-color);
        
        
    }
    section#gymForm_section .gymForm_title h2{
        font-size: 25px;
    }

    section#gymForm_section .gymForm_wrapper .border_left{
        border-left: 1px solid var(--gray-color);
        min-height: 105vh;
      
    }
   
    section#gymForm_section .gymForm_wrapper .buttonTabs li{
        background-color: var(--gray-color);
        display: flex;
        justify-content: center;
        border: 1px solid transparent;
        transition: all .3s;
    }
    section#gymForm_section .gymForm_wrapper .buttonTabs li:hover{
        border: 1px solid var(--button-color);
    }
    section#gymForm_section .gymForm_wrapper form.gymForm{
        margin-left: 30px;
        margin-bottom: 50px;
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
        background: var(--input-background);
        outline: none;
        border: 1px solid transparent;
        padding: 5px 15px;
        color: white;
        padding-right: 120px;
        border-radius: 5px;
        transition: all .3s;
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input:focus{
        border: 1px solid var(--button-color);
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item select{
        padding-right: 251px;
        height: 36px;
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .submitButton button{
        background-color: var(--button-color);
        padding: 8px 80px;
        font-weight: 600;
        color: black;
        border: 1px solid transparent;
        border-radius: 50px;
        transition: all .3s;
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .submitButton button:hover{
        background-color: white;
        color:var(--button-color);
        transition: .3s;
        transform: scale(.9);
      
        
        
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
        width: 339px;
        font-size: 12px;
    }



     /**************** responsive color here **************/
    
     @media only screen and (max-width: 1200px) {
         section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
       
        padding-right: 60px;
        border-radius: 5px;
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item select{
        padding-right: 191px;
    }
    section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
        width: 277px;
        padding: 5px 15px;
        font-size: 12px;
    }
     }
     @media only screen and (max-width: 950px) {
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
            
            padding-right: 40px;
            border-radius: 5px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item select{
            padding-right: 171px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
            width: 259px;
            font-size: 12px;
        }

     }
     @media only screen and (max-width: 885px) {
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
          
            padding-right: 50px;
            border-radius: 5px;
            font-size: 14px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item select{
            padding-right: 164px;
            font-size: 13px;
            height: unset;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
            width: 241px;
            font-size: 10px;
        }

     }

     @media only screen and (max-width: 850px) {
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
           
            padding-right: 40px;
            border-radius: 5px;
            font-size: 14px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item select{
            padding-right: 154px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
            width: 231px;
            font-size: 10px;
        }

     }
     @media only screen and (max-width: 810px) {
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
      
            
            padding-right: 25px;
            border-radius: 5px;
            font-size: 14px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item select{
            padding-right: 139px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
            width: 216px;        
            font-size: 10px;
        }

     }

     @media only screen and (max-width: 768px) {
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input,select {
            font-size: 16px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm {
            margin: 0px 50px;
            margin-bottom: 50px;
        }
        section#gymForm_section .gymForm_wrapper form.gymForm .inputItems .single_input_item input#uploadFile{
            width: 100%;
            font-size: 12px;
            
         
        }
     }